.slider {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    min-height: 5em;
    height: 100%;
    //height: max-content;
    //background-color: #0338d515;
    margin: 1em 0 1em 0;



    &Images {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        //position: static;
        top: 0;
        display: flex;
        flex-flow: row wrap;
        column-gap: 0.5em;
        row-gap: 0.5em;
        min-height: 7em;
        width: 100%;
        //height: 100%;
        //height: max-content;
        pointer-events: none;
        margin: 1em 0 0 0;
        //background-color: #FF000020;
    }

    &Image {
        pointer-events: none;
        opacity: 0.6;
        width: max-content;

    }


    &>div {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

}