.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15em;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    min-height: 31.5em;
    padding: 0 0 0.5em 0.25em;
    border-right: 1px solid var(--borderCardHoverColor);
    background-color: var(--secondaryColor);
    padding: 0.5em;
    transition: transform 0.3s ease-in-out;
    z-index: 6;

    @media (width < 920px) {
        position: absolute;
        top: 0;
        transform: translateX(-100%);

        &_view {
            transform: translateX(0);
        }
    }

    @media (width < 600px) {
        width: 100%;
    }

    &_logo {
        @media (width < 920px) and (width > 600px) {
            transform: scale(0.8) translateX(-2.5em);
        }
    }

    &_button {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 3em;
        height: 3em;
        border: none;
        background-color: transparent;
        color: var(--fontColor);
        transition: all 0.3s ease-in-out;

        @media (width < 920px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &Icon {
            width: 2em;
            height: 2em;
        }
    }

    &__nav {
        padding: 0 0.25em;
        margin: 0.75em 0 0 0;
        width: 100%;
    }

    &__title {
        text-align: center;
        padding: 0.5em 0.5em 0.5em 0.5em;
        margin: 1em 0 0 0;
        width: 100%;
        font-weight: 600;
        color: var(--fontColor);
        border-radius: 0.25em;
        background-color: var(--terciaryColor);
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        text-decoration: none;
        column-gap: 1em;
        text-transform: capitalize;
        padding: 0.5em 1em;
        width: 100%;
        min-height: 3.5em;
        font-size: 0.85em;
        font-weight: 600;
        border: none;
        border-left: 3px solid transparent;
        border-radius: 0 0.5em 0.5em 0;
        margin: 0.5em 0 0 0;
        background-color: var(--borderCardColor);
        color: var(--fontSecondColor);
        font-family: var(--font-montserrat);
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:first-child {
            margin: 0;
        }


        &>svg {
            width: 2em;
            height: 2em;

            &:nth-child(2) {
                transition: all 0.2s ease-in-out;
                position: absolute;
                right: 1em;
            }
        }

        &Active {
            color: var(--highLightHoverColor);
            background-color: var(--backgroundMenu);
            border-radius: 0em 0.5em 0 0;
            border-left: 3px solid var(--highLightHoverColor);
            //pointer-events: none;


            &>svg {

                &:nth-child(2) {
                    transform: rotate(90deg);
                }
            }

        }

        &:hover:not(.aside__linkActive) {
            color: var(--fontColor);
            background-color: var(--borderCardHoverColor);
        }


        &Option {
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            width: 100%;
            max-height: 0;
            overflow: hidden;
            padding: 0.15em 0 0 1em;
            row-gap: 0.15em;
            transition: all 0.5s ease-in-out;
            background-color: var(--terciaryColor);


            &Active {
                max-height: 15em;
                background-color: var(--secondaryColor);
            }
        }
    }

    &__sublink {
        display: flex;
        align-items: center;
        column-gap: 0.5em;
        text-decoration: none;
        padding: 0.5em 0 0.5em 0.5em;
        width: 100%;
        min-height: 3.5em;
        font-size: 0.85em;
        font-weight: 500;
        border: none;
        color: var(--fontSecondColor);
        border: none;
        transition: all 0.3s ease-in-out;
        background-color: var(--terciaryColor);

        &:hover:not(.aside__sublinkActive) {
            color: var(--highLightHoverColor);
            background-color: var(--fourthColor);
        }

        &Active {
            color: var(--highLightHoverColor);
            background-color: var(--fourthColor);
        }

    }
}