.section {
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: start center;
    width: 100%;



    &_input {
        display: grid;
        grid-template-columns: 1fr 7em;


        width: 100%;

        &>:first-child {
            padding: 0;
        }
    }

    &Button {
        padding: 0.3em 0 0 0;
        min-height: 4em;
    }

    &_search {
        position: absolute;
        bottom: 0em;
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: row;
        column-gap: 0.5em;
        padding: 0.25em 0 0 0.25em;
        font-size: 0.8em;
        color: var(--fontColor);
        grid-row: 2 / 3;
        grid-column: 1 / span 2;

        &Result {
            color: var(--highLightHoverColor);
            font-weight: 600;
            font-size: 1em;
        }


        &Results {
            //position: relative;
            color: var(--clearanceBorderColor);
            font-weight: 600;
            font-size: 1.2em;

            &Text {
                position: absolute;
                width: max-content;
                left: 100%;
                margin: 0 0 0 0.25em;

            }

        }
    }

}