.textfield {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0em;
    width: 100%;
    margin: 0 0 0.25em 0;

    &HasLabel {
        margin: 0.5em 0 0.25em 0;
    }

    &__disabled {
        opacity: 0.6;
        pointer-events: none;
    }


    &_error {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        bottom: -1.4em;
        font-size: 0.7em;
        font-weight: 400;
        color: var(--errorColor);
        background-color: var(--saleBackgroundColor);
        width: max-content;
        padding: 0.15em;
    }

    &_iconError {
        position: absolute;
        bottom: 0.45em;
        right: 0.5em;
        width: 1.2em;
        height: 1.2em;
        color: var(--errorColor);
        pointer-events: none;
    }

    &__label {
        position: absolute;
        top: 0em;
        left: 0;
        font-size: 0.7em;
        transform: translateX(1em) translateY(0.75em);
        user-select: none;
        transition: 0.25s ease-in-out all;
        pointer-events: none;
        padding: 0 0 0 1em;
        color: var(--shadowColor);

        &Fill {
            font-size: 0.7em;
            padding: 0 0 0 1.5em;
            color: var(--clearanceBorderColor);
            transform: translateX(-1.2em) translateY(-1.25em);
        }

        /* &:is(.textfield__labelError) {
            &::before {
                position: absolute;
                left: 0em;
                content: "*";
                color: var(--errorColor);
                font-size: 1.3em;
                margin: 0 0.35em 0 0;
            }
        }*/

        /* &:has(.textfield__labelError) {
            &::before {
                position: absolute;
                left: 0em;
                content: "P";
                font-family: 'Wingdings 2';
                font-size: 1.4em;
                font-weight: 800;
                color: var(--newBorderColor);
                margin: 0 0.35em 0 0;

            }

        }*/
    }

    &__input {
        width: 100%;
        height: 100%;
        padding: 0.5em 0.5rem 0.5em 0.5em;
        border: 1px solid transparent;
        font-family: var(--fontFamily);
        font-weight: 300;
        font-size: 0.9em;
        color: var(--fontColor);
        background-color: var(--secondaryColor);
        border: 1px solid transparent;
        border: 1px solid var(--borderCardColor);
        border-radius: 0.15em;
        outline: none;
        transition: 0.25s ease-in-out all;

        &::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }

        &Error {
            border: 1px dashed var(--errorColor);
        }



        &:focus {
            &:not(.textfield__inputError) {
                border-bottom: 1px solid var(--highLightColor);
            }

            &~.textfield__label {
                transform: translateX(-1.2em) translateY(-1.25em);
                color: var(--clearanceBorderColor);
                //font-size: 0.8em;
                padding: 0 0 0 1.5em;


            }
        }

    }

    &__view {
        display: flex;
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 2em;
        background-color: transparent;
        border: none;
        transform: scale(0.6);
        color: var(--fontSecondColor);
        background-color: var(--fourthColor);
        cursor: pointer;
        transition: 0.35s ease-in-out color;


        &:hover {
            color: var(--clearanceBorderColor);
        }
    }
}

.textfield_isFile {
    //position: absolute;
    //top: 0;
    width: 100%;
    height: 100%;
    //max-height: max-content;
    //min-height: 15em;
    border: 1px dashed var(--fourthColor);
    background-color: var(--backCategoryColor);


    &Input {
        border: none;
        height: 100%;
        width: 100%;
        //max-height: max-content;
        //min-height: 15em;
        opacity: 0;
        cursor: pointer;

        &::file-selector-button {
            background-color: transreparent;
            border: none;
            color: transparent;
        }
    }

    &Error {
        border: 1px dashed var(--errorColor);
    }


}

.content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 0.5em;
    width: 100%;
    height: 100%;
    color: var(--fontSecondColor);
    z-index: 0;
    opacity: 0.5;

    &_icon {
        width: 3em;
        height: 3em;
    }

    &_text {
        border-radius: 0.3em;
        background-color: var(--borderCardColor);
        padding: 0.25em 0.6em;

        &Two {
            font-size: 0.85em;
        }
    }
}

.help {
    position: absolute;
    right: 0em;
    top: -1.5em;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: none;
    width: 1.3em;
    height: 1.3em;
    cursor: help;
    font-size: 0.9em;
    font-family: var(--font-montserrat);

    &_icon {

        width: 1.3em;
        height: 1.3em;
        color: var(--clearanceBorderColor);
        pointer-events: none;
    }




    &_label {
        position: absolute;
        left: 0em;
        width: max-content;
        max-width: 20em;
        padding: 0.5em;
        color: var(--primaryColor);
        background-color: var(--toolTipColor);
        opacity: 0;
        max-height: 0;
        z-index: 3;

        &Active {
            opacity: 1;
            max-height: 25em;
        }
    }
}