.datagrid {
    padding: 0 0.5em;
    width: 100%;
    height: 100%;
    min-height: 3em;

    &_pagination {
        padding: 0 0.5em 0.25em 0.5em;
        background-color: var(--fourthColor);
        border-radius: 0 0 var(--borderRadius) var(--borderRadius);
    }

    &_empty {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0 0 1em 0;
        row-gap: 0.5em;

        @media (width < 1220px) {
            width: calc(100svw - 19em);
        }

        @media (width < 768px) {
            width: calc(100svw - 1em);
        }

        &Text {
            color: var(--secondaryColor);
            font-size: 1.5em;
            font-weight: 600;
        }

        &Icon {
            width: 5em;
            height: 5em;
            color: var(--saleBorderColor);
        }
    }
}

.table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2em 1fr;
    padding: 0.5em 0.5em 0.25em 0.5em;
    gap: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    border: 1px solid var(--borderCardHoverColor);
    border-radius: var(--borderRadius);

    &_empty {
        overflow: hidden;
    }

}

.container {
    width: 100%;
    height: 100%;
    //max-height: calc(100svh - 16em);
    padding: 0 0em 0 0;
    border: 1px solid var(--terciaryColor);
}



.rows {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: var(--borderRadius);

}

.header {
    width: 100%;
    padding: 0 0 0 0;

    &_container {
        display: grid;
        width: 100%;
        place-items: center center;
        background-color: var(--highLightColor);
        z-index: 2;
    }

    &_title {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        list-style: none;
        text-align: center;
        width: 100%;
        height: 2.5em;
        font-size: 0.8em;
        font-weight: 600;
        color: var(--PrimaryColor);
        border-left: 1px solid var(--borderCardHoverColor);

        &:nth-child(1) {
            border: none;
        }

        &:last-child {
            border-right: 1px solid var(--borderCardHoverColor);
        }

        &Arrows {
            position: absolute;
            top: calc(50% - 0.5em);
            right: 0.15em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 1.1em;
            height: 100%;
            padding: 0.25em 0;
        }

        &Arrow {
            position: absolute;
            top: 0.4em;
            left: 0;
            width: 1.1em;
            height: 1.1em;
            stroke-width: 3;
            color: var(--fourthColor);
            opacity: 0.3;

            &Up {
                top: -0.25em;
                transform: rotate(180deg);
            }

            &Active {
                opacity: 1;
                //color: var(--primary-color);
            }

        }
    }

    &_link {
        column-gap: 0.5em;
        width: 100%;
        height: 100%;
        padding: 0.25em 0;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        font-family: var(--font-montserret);
        border: none;
        color: var(--primaryColor);
        background-color: var(--highLightColor);
        transition: all 0.35s ease-in-out;


        &:hover {
            background-color: var(--highLightHoverColor);
        }

        &Inactive {
            cursor: default;
            pointer-events: none;

            &:hover {
                background-color: var(--highLightColor);
            }
        }

        &Active {
            color: var(--primaryColor);
            background-color: var(--highLightHoverColor);

        }

        &:last-child {
            cursor: default;

            &:hover {
                backdrop-filter: brightness(100%);
            }
        }
    }
}

.row {
    position: relative;
    display: grid;
    place-items: center center;
    //width: 100%;
    min-height: 2.2em;
    border: 1px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: 1px solid var(--terciaryColor);
    //border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;

    &:nth-child(odd) {
        background-color: var(--backCategoryColor);
    }

    &:hover {
        background-color: var(--secondaryColor);
        border-left: 2px solid var(--highLightColor);

        &>.brand_delete>.brand_button {
            opacity: 1;
        }
    }





    &_item {
        display: flex;
        //align-items: center;
        //justify-content: center;
        list-style: none;
        //width: 100%;
        height: 2.2em;
        font-size: 0.75em;
        font-weight: 400;
        padding: 0 0.25em;
        color: var(--backgroundColor);
        text-align: center;
        max-lines: 1;
        line-clamp: 1;
        line-height: 2em;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    &_id {
        display: flex;
        justify-content: center;
        padding: 0.2em 0.4em;
        width: 100%;
        color: var(--fontColor);
        font-weight: 600;

        &::before {
            //content: "# ";
            color: var(--fontSecondColor);
        }
    }

    &_name {
        text-align: center;
        width: 100%;
    }

    &_image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        object-fit: contain;
        backdrop-filter: invert(1) opacity(10%);
        border-radius: 0.25em;
    }

    &_dateCreated {
        padding: 0 2em;
        text-align: center;
    }

    &_status {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        font-size: 0.7em;
        font-weight: 500;
        color: var(--font-dark-color);
        border-radius: var(--borderRadius);
        padding: 0.25em 1em;
    }

    &_price {
        color: var(--clearanceBorderColor);
        font-weight: 500;
    }

    &_delete {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


    }

}


.options {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.7em;
    padding: 0.25em 0.5em;
    color: var(--shadowColor);
    background-color: var(--terciaryColor);
    border: 0.25em;
    border-radius: var(--borderRadius);
    transition: all 0.35s ease-in-out;
    opacity: 0.8;

    &:hover {
        opacity: 1;

    }

    &_button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 1.5em;
        height: 1.5em;

        &Icon {
            width: 1.5em;
            height: 1.5em;
            color: var(--shadowColor);
            transition: color 0.3s ease-in-out;

        }

        &View {

            &>.options_buttonIcon {
                color: var(--clearanceColor);

                &:hover {
                    color: var(--clearanceBorderColor);
                }


            }
        }

        &Edit {

            &>.options_buttonIcon {
                color: var(--freeColor);

                &:hover {
                    color: var(--freeBorderColor);
                }


            }
        }

        &Delete {
            &>.options_buttonIcon {
                color: var(--saleColor);

                &:hover {
                    color: var(--saleBorderColor);
                }


            }
        }
    }

    &_content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        border-radius: var(--borderRadius);
        padding: 0 0 1em 0;
    }

    &_message {
        color: var(--fontColor);
        width: 100%;
        font-weight: 500;
        text-align: center;
        margin: 1em 0 3em 0;
        padding: 0 2em;

        &Mark {
            color: var(--warningColor);
            font-weight: 700;
        }
    }

    &_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        justify-self: center;
        column-gap: 2.5em;
    }
}


.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10em;

    &_icon {
        width: 7em;
        height: 7em;
        color: var(--fontSecondColor);
        animation: rotate 1.5s linear infinite;

        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }

        }
    }

    &_text {
        color: var(--fontColor);
        font-size: 1.5em;
        font-weight: 600;
    }
}