.combobox {
    position: relative;
    width: 100%;
    position: relative;
    z-index: 3;
    padding: 0 0 1.4em 0;

    &_error {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        bottom: 0em;
        font-size: 0.7em;
        font-weight: 400;
        color: var(--fontColor);
        border-radius: 0.15em;
        background-color: var(--errorColor);
        width: max-content;
        padding: 0.15em 0.25em;
        animation: errorAnimation 0.5s ease-in-out both;
        transform: translateY(0);
        opacity: 1;
        z-index: 3;

        &::after {
            position: absolute;
            content: "";
            top: -0.35em;
            left: 0.5em;
            width: 0;
            height: 0;
            border-left: 0.5em solid transparent;
            border-right: 0.5em solid transparent;
            border-bottom: 0.5em solid var(--errorColor);
        }

        @keyframes errorAnimation {
            0% {
                transform: translateY(-1.5em);
                opacity: 0;
            }

            50% {
                transform: translateY(0);
                opacity: 1;
            }

        }
    }

    &Disabled {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
        user-select: none;

    }

    &_active {
        z-index: 20;
    }

    &_label {
        font-size: 0.8em;
        font-weight: 500;
        user-select: none;
        pointer-events: none;
        padding: 0 0 0 0.25em;
        color: var(--clearanceBorderColor);
    }

    &_iconError {
        position: absolute;
        color: var(--errorColor);
        right: 2em;
        top: calc(50% - 0.6em);
        z-index: 3;
    }

    &_default {
        margin: 0 0 0.5em 0;



        &::after {
            content: "--";
        }

        &::before {
            content: "--";
            color: var(--fontSecondColor);
        }
    }

    &__input {
        width: 100%;
        padding: 0.5em 1.5rem 0.5em 0.5em;
        margin: 0 1em 0 0;
        border: 1px solid transparent;
        font-family: var(--font-montserrat);
        font-weight: 500;
        font-size: 0.9em;
        text-align: left;
        color: var(--fontColor);
        background-color: var(--secondaryColor);
        border: none;
        border: 1px solid var(--borderCardColor);
        outline: 2px solid transparent;
        border-radius: 0.15em;
        transition: 0.25s ease-in-out all;

        @media (width < 400px) {
            font-size: 0.7em;
        }



        &Error {
            border: 1px dashed var(--errorColor);
        }

        &:focus {
            outline: 2px solid #a5f10235;

            &:not(.textfield_inputError) {
                border: 1px solid #a5f10260;
            }
        }
    }


    &__loading {
        display: flex;
        position: absolute;
        top: calc(50% - 0.8em);
        right: calc(50% - 0.8em);

        &Inactive {
            display: none;
        }
    }

    &__options {

        &Option {
            position: relative;
            padding: 0.5em 0.5em;
            font-size: 0.85em;
            width: 100%;
            background-color: transparent;
            border: none;
            box-sizing: border-box;
            cursor: pointer;
            text-align: left;
            color: var(--fontSecondColor);

            &:hover {
                background-color: var(--terciaryColor);
            }

            &Selected {
                background-color: var(--terciaryColor);
                color: var(--highLightHoverColor);
            }

            &Icon {
                position: absolute;
                right: 0.5em;
                top: 0;
                color: var(--highlight-color);

            }
        }
    }

}