.card {
    display: grid;
    grid-template-columns: 1fr 3em;
    grid-template-rows: 2.5em 1fr;
    //background-color: var(--primaryColor);
    background: var(--backgroundGradient);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    color: var(--fontColor);
    max-height: 7em;

    &_icon {
        align-self: flex-start;
        justify-self: center;
        width: 2rem;
        height: 2rem;
        color: var(--fontColor);

        &Facebook {
            color: #3b5998;
        }

        &Twitter {
            color: #1da1f2;
        }

        &Instagram {
            color: #e1306c;
        }

        &Youtube {
            color: #ff0000;
        }

        &Tiktok {
            color: #FFFFFF;
        }
    }

    &_data {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1.5em);
        font-size: 0.7rem;
        grid-column: 1 / span 2;
        padding: 0.5em 0 0 0;
        border-top: 1px solid var(--shadowColor);

    }

    &_option {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0.35em;
        place-items: center right;
        font-weight: 600;
        color: var(--clearanceBorderColor);

    }

    &_text {
        font-size: 0.65rem;
        font-weight: 300;
        place-self: center left;
        color: var(--fontSecondColor);
    }

}