.map {
    width: 100%;
    height: 253px;
    fill: #969674;

    &_state {
        transition: all 0.3s ease-in-out;

        &:hover {
            fill: #76d7e2;
        }
    }


}

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1em;
    width: 100%;
}

.tooltip {
    position: absolute;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--fontColor);
    border: 1px solid var(--borderCardHoverColor);
    background-color: var(--fontSecondColor);
    border-radius: 0.2em;
    transition: all 0.1s ease-in-out;
    pointer-events: none;
    min-width: 6em;
    z-index: 3;

    &Inactive {
        opacity: 0;

    }

    &_state {
        width: 100%;
        background-color: var(--shadowColor);
        padding: 0.2em 0.5em;
        color: var(--primaryColor);
        font-weight: 500;
        font-family: var(--font-montserrat);
        border-bottom: 1px solid var(--fourthColor);
    }

    &_sales {
        color: var(--primaryColor);
        font-size: 1em;
        font-weight: 600;
        padding: 0.25em 0.4em;
    }

    &_orders {
        color: var(--fourthColor);
        font-size: 0.95em;
        font-weight: 600;
    }
}

.areaHover {
    display: flex;
    justify-content: center;
    width: 100%;
}


.container {
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 0.7em;
    border-radius: 0.25em;


    &_title {
        color: var(--fontColor);
        font-size: 1.3em;
        font-weight: 500;
    }

    &Map {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 3em 0 0 0;
        //overflow: auto;

        &_buttons {
            position: absolute;
            right: -0em;
            display: flex;
            flex-direction: column;
            row-gap: 0.25em;
        }

        &_button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--borderCardHoverColor);
            padding: 0.2em 0.4em;
            z-index: 2;
            border: none;
            width: 2.5em;
            height: 2.5em;
            color: var(--fontSecondColor);
            cursor: pointer;
            transition: all 0.25s ease-in-out;
            backdrop-filter: blur(5px) invert(5%);

            &:hover {
                color: var(--highLightHoverColor);
            }

            &Icon {
                width: 1.7em;
                height: 1.7em;
            }

        }
    }
}